:root {
    --box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.4);
    /* colors */
    --prefixbox-primary: #1abc9c;
    --prefixbox-primary-light: #31c3a6;
    --ui-red: #ff0000;
    --white: #fff;
    --gray-9: #999;

    /* fonts */
    --arial: 'Arial', sans-serif;
    --monsterrat: 'Monsterrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

.search-form {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 0 30px;
    position: relative;
}

.search-title {
    display: none;
}

@media (min-width: 768px) {
    .search-title {
        align-items: flex-start;
        display: flex;
        font-family: 'Arial', sans-serif;
    }
}

.search-input {
    margin-left: 15px;
    position: relative;
    width: 500px;
}

input#keyword {
    border-radius: 25px;
    border: 2px solid var(--prefixbox-primary);
    font-size: 15px;
    padding: 8px 15px;
    position: relative;
    width: 100%;
}

input#keyword:focus {
    outline: none;
}

/*--------------------AUTOCOMPLETE------------------------*/
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: var(--gray-9);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--prefixbox-primary);
    border-radius: 10px;
}

.prefixbox-autocomplete-container {
    background-color: var(--prefixbox-primary);
    border: 2px solid var(--prefixbox-primary);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    font-family: var(--monsterrat);
    flex-direction: column;
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    z-index: 62;
}

@media (min-width: 768px) {
    .prefixbox-autocomplete-container {
        flex-direction: row;
        width: 800px;
    }
}

.prefixbox-autocomplete-container .col-1 {
    background: var(--prefixbox-primary);
    border-radius: 20px 20px 0 0;
    padding: 20px 10px 20px 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .prefixbox-autocomplete-container .col-1 {
        border-radius: 20px 0 0 20px;
        flex: 1 1 calc(100% / 3);
    }
}

.prefixbox-autocomplete-container .col-2 {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 10px 10px 10px 0;
    width: 100%;
}

@media (min-width: 768px) {
    .prefixbox-autocomplete-container .col-2 {
        border-radius: 0 20px 20px 0;
        flex: 1 1 calc(2 *(100% / 3));
    }
}


.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container {
    border-bottom: 1px solid var(--prefixbox-primary-light);
    color: var(--white);
    padding: 10px;
    font-size: 14px;
}

.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container:not(:last-child) {
    margin-bottom: 5px;
}

.prefixbox-autocomplete-keyword-container b {
    font-weight: 400;
}

.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container:hover{
    border-radius: 20px;
    background-color: var(--prefixbox-primary-light);
    cursor: pointer;
    padding-left: 30px;
}

.prefixbox-group-2-title.pfbx-group-title {
    display: none;
}

.prefixbox-group-container.group-id-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0;
    height: 250px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .prefixbox-group-container.group-id-2 {
        height: 500px;
    }

}

.prefixbox-autocomplete-product-container {
    flex: 0 0 50%;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .prefixbox-autocomplete-product-container {
        flex: 1 0 calc(100% / 3);
        margin-bottom: 20px;
    }
}


.prefixbox-autocomplete-product-container:hover {
    border: 2px solid var(--prefixbox-primary);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    margin-bottom: 16px;
}

.prefixbox-autocomplete-product {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.prefixbox-autocomplete-left {
    margin-bottom: 20px;
}

.prefixbox-autocomplete-body {
    margin-bottom: 10px;
}

.prefixbox-autocomplete-left img {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.prefixbox-autocomplete-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.prefixbox-regular-price {
    color: var(--prefixbox-primary)
}

.prefixbox-sale-price {
    color: var(--ui-red)
}

.prefixbox-old-price {
    color: var(--gray-9);
    font-size: 12px;
    text-decoration:line-through;
}


@media (max-width: 500px){
    .search-form{
        margin:0;
        padding:15px;
    }
    .search-title{
        display: none;
    }
    .search-input{
        margin:0;
    }

}